.dashboard {
    width: 100%;
    height: 100svh;
    display: flex;
}

.dashboardContainer {
    width: 90%;
    height: 100%;
    order: 2;
    position: relative;
}

.nav {
    order: 1;
    min-width: 10%;
    z-index: 100;
}

.dashboardContainer .title {
    font-size: 3vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: blueviolet;
}

.dashboardContainer #serachIcon {
    display: none;
}

.bsSearchbar {
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    font-size: 3vw;
    width: 30vw;
    height: 4vw;
    border-radius: 0.5vw;
    /* border: 0.1vw solid blueviolet; */
    display: flex;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.searchBarIcon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.589);

}

.bsSearchbar input {
    border: none;
    width: 80%;
    height: 100%;
    font-size: 1.5vw;
    color: blueviolet;
}

.header {
    width: 100%;
    height: 25%;
}

.productContainer {
    width: 100%;
    max-height: 75%;
    min-height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    overflow-x: hidden;
}

.productCard {
    position: relative;
    width: 20vw;
    height: 25vw;
    background-color: #fff;
    border-radius: 1vw;
    margin: 1vw;
    box-shadow: -4px 4px 16px -2px rgba(0, 0, 0, 0.2);
}

.cardImage {
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    width: 100%;
    height: 70%;
}

.cardImage img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}

.productCard h1 {
    font-size: 1.6vw;
    padding: 1vw;
    color: rgba(0, 0, 0, 0.829);
}

.productCard h2 {
    font-size: 1.8vw;
    padding: 1vw;
    color: rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 767px) {

    .header {
        width: 100%;
        height: 15%;
    }

    .productContainer {
        width: 100%;
        max-height: 85%;
        min-height: 85%;
    }

    .productCard h1 {
        font-size: 1.6vh;
        padding: 1vh;
    }

    .productCard h2 {
        font-size: 1.8vh;
        padding: 1vh;
    }

    .cardImage img {
        border-top-right-radius: 1vh;
        border-top-left-radius: 1vh;
    }

    .cardImage {
        border-top-right-radius: 1vh;
        border-top-left-radius: 1vh;
    }

    .productContainer {
        gap: 6px;
    }

    .productCard {
        width: 20vh;
        height: 25vh;
        border-radius: 1vh;
        margin: 1vh;
    }


    .bsSearchbar {
        display: none;
    }

    .dashboardContainer #serachIcon {
        top: 2vh;
        right: 3vh;
        font-size: 3vh;
        color: rgba(0, 0, 0, 0.589);
        position: absolute;
        display: flex;
    }

    .dashboardContainer .title {
        font-size: 3vh;
        top: 2vh;
        left: 2vh;
    }

    .dashboard {
        width: 100%;
        height: 100svh;
        display: flex;
        flex-direction: column;
    }

    .dashboardContainer {
        width: 100%;
        height: 90%;
        order: 1;
    }

    .nav {
        order: 2;
        min-height: 10%;
    }
}