<div class="userNavbar">
    <div class="iconGroup" (click)="navigateToCreate()">
        <i class="bi bi-file-earmark-plus"></i>
        <p>Create</p>
    </div>
    <div class="iconGroup" (click)="navigateToRead()">
        <i class="bi bi-table"></i>
        <p>Read</p>
    </div>
    <div class="iconGroup">
        <i class="bi bi-truck"></i>
        <p>Delivery</p>
    </div>
    <div class="iconGroup" (click)="logout()">
        <i class="bi bi-box-arrow-left"></i>
        <p>Logout</p>
    </div>
</div>