.dashboard {
    width: 100%;
    height: 100svh;
    display: flex;
}

.dashboardContainer {
    width: 90%;
    height: 100%;
    order: 2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    order: 1;
    min-width: 10%;
    z-index: 100;
}

.dashboardContainer .title {
    font-size: 3vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: blueviolet;
}

.dashboardContainer #serachIcon {
    display: none;
}

.bsSearchbar {
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    font-size: 3vw;
    width: 30vw;
    height: 4vw;
    border-radius: 0.5vw;
    /* border: 0.1vw solid blueviolet; */
    display: flex;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.searchBarIcon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.589);

}

.bsSearchbar input {
    border: none;
    width: 80%;
    height: 100%;
    font-size: 1.5vw;
    color: blueviolet;
}

.header {
    width: 100%;
    height: 25%;
}

.tableContainer {
    min-width: 100%;
    max-width: 100%;
    max-height: 75%;
    min-height: 75%;
    overflow-y: auto;
}

table {
    text-align: center;
}

thead th{
    height: 30%;
    padding: 2vw;
    background-color: blueviolet;
    color: #fff;
}

tbody {
    height: 30%;
    overflow-x: auto;
    background-color: rgba(137, 43, 226, 0.301);
}

td {
    padding-inline: 10vw;
    padding-block: 3vw;
    font-size: 2vw;
    text-transform: capitalize;
}

.td img {
    width: 20vw;
     height: 20vw;
}

.editPage {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.445);
    justify-content: center;
    align-items: center;
    display: flex;
}


.inputSet input::placeholder {
    color: rgba(255, 255, 186, 0.555)
}

.inputSet p {
    padding: 0;
    font-size: 1.5vw;
    color: black;
    margin-block: 1vw;
}

.inputSet input {
    padding: 1.5vw;
    width: 23vw;
    background-color: black;
    border-radius: 1vw;
    color: rgb(255, 255, 255);
}

#smallInput input{
    width: 11.5vw !important;
}

.textBoxContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    width: 80%;
    margin-top: 2vw;
}

.actionButtonContainer {
    display: flex;
    margin-top: 1vw;
}

.actionButtonContainer button{
    padding: 1vw;
    width: 15vw;
    border: none;
    background: none;
    font-size:1.5vw;
    color: #fff;
    border-radius: 0.5vw;
    margin: 2vw;
}

#resetButton:hover {
    background-color: rgb(165, 0, 0) !important;
}

#createButton:hover {
    background-color: rgb(0, 66, 0) !important;
}

.editContainer {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1vh;
    flex-direction: column;
}

td button {
    font-size: 2.3vw;
    cursor: pointer;
    padding: 1vw;
    background: none;
    border: none;
}

@media only screen and (max-width: 767px) {
  

    td button {
        font-size: 2.3vh;
        padding: 1vh;
    }

    .actionButtonContainer{
        margin-top: 1vh;
    }

    .actionButtonContainer button{
        padding: 1.5vh;
        width: 15vh;
        border: none;
        background: none;
        font-size:2vh;
        color: #fff;
        border-radius: 0.5vh;
        margin: 2vh;
    }

  .inputSet input {
        padding: 2vh;
        width: 23vh;
        border-radius: 1vh;
    }

    #smallInput input{
        width: 11.5vh !important;
    }

    .inputSet p {
        padding: 0;
        font-size: 1.5vh;
        margin-block: 1vh;
    }

    .inputSet {
        margin-block: 0.5vh;
    }

    .td img {
        width: 20vh;
         height: 20vh;
    }
    
    table {
        text-align: center;
    }
    
    thead th{
        padding: 2vh;
    }
    
    td {
        padding-inline: 10vh;
        padding-block: 3vh;
        font-size: 2vh;
    }

    .header {
        height: 15%;
    }
    
    .tableContainer {
        max-height: 85%;
        min-height: 85%;
    }
   
    .bsSearchbar {
        display: none;
    }

    .dashboardContainer #serachIcon {
        top: 2vh;
        right: 3vh;
        font-size: 3vh;
        color: rgba(0, 0, 0, 0.589);
        position: absolute;
        display: flex;
    }

    .dashboardContainer .title {
        font-size: 3vh;
        top: 2vh;
        left: 2vh;
    }

    .dashboard {
        width: 100%;
        height: 100svh;
        display: flex;
        flex-direction: column;
    }

    .dashboardContainer {
        width: 100%;
        height: 90%;
        order: 1;
    }

    .nav {
        order: 2;
        min-height: 10%;
    }
}