@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@font-face {
    font-family: Gotham;
    src: url('assets/fonts/GothamMedium.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Gotham, Arial, sans-serif !important;
    user-select: none;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
}
